<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text"  name="name" ><br>
        <label for="email">Email:</label><br>
        <input type="text"  name="email" ><br>
        <label for="password">Password:</label><br>
        <input type="password"  name="password" ><br>
        <label for="confirmpassword">ConfirmPassword:</label><br>
        <input type="password"  name="confirmpassword" ><br><br>
        <input type="submit" value="Submit">
      </form>
      <p><a href="{% url 'log' %}">Already have account :Login</a></p>
</body>
</html>
